#blogbox {
    margin:0px auto;
    width: 600px;
    /*border-style: solid;
    border-width: 1px;*/
    border-radius: 5px;
}

#blogList {
    /*background-color: black;*/
    border-radius: 5px;
}

.post {
    margin: 10px 0 10px 0;
}

.post_title {
    font-size: 28px;
    /*background-color: white;*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 2px;
    padding: 5px;
}

.post_text {
    font-size: 18px;
    /*background-color: grey;*/
    border-left: solid 1px;
    border-right: solid 1px;
    color: black;
    padding: 5px;
}

.post_footer {
    background-color: white;
    opacity: 0.20;
    padding-bottom: 5px;
    margin-top: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.post_author {
    float: left;
    /*background-color: white;*/
    opacity: 1.0;
    color: black;
    margin-right: 20px;
}

.post_created {
    /*background-color: white;*/
    color: black;
    opacity: 1.0;
}

.post_email {
    cursor: pointer;
    opacity: 1.0;
}