* {
    /*border: 1px dashed red;
 */
}

#wrap {
    width:960px;
    margin:0px auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#banner {
    height:100px;
    width:100%;
    background-color:black;
    border-radius:5px;
}

#banner_logo {
    float:left;
    margin:30px 0px 0px 10px;
    position:relative;
}

#banner_logo_link {
    text-decoration:none;
    color:lightblue;
}

#navbar {
    float:right;
    clear:left;
    margin:5px 10px 0px 0px;
    position:relative;
}

.navitem {
    text-decoration:none;
    color:lightblue;
    padding:5px;
    margin:0px;
}

.navitem:hover {
    color:black;
    background-color:lightblue;
    border-radius:5px;
    padding:5px 5px 15px 5px;
}

#project {
    
}

#hobby {

}

#about {

}

p {
    font-family:sans-serif;
    font-size:1.1em;
}

h1 {
    font-family:Arial;
    font-size:2em;
    font-weight:bold;
}

ul {
    padding:0px;
    margin:8px;
}

li {
    list-style-type:none;
    display:inline;
    font-family:serif;
    margin:0px;
}

body {
    background-color:lightblue;
}

#main {
    width: 960px;
    height: 600px;
    margin: 0px auto;
    padding: 5px 0 5px 0;
    border-radius:5px;
}

#footer {
    clear: both;
    background-color: black;
    background-image: url('../images/keyboard.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    width:960px;
    height:128px;   
    color: lightblue;
    margin: 0px auto;
    border-radius:5px;
}

div#overlay{
    width: 480px;
    height: 128px;
    background-color: black;
    float: right;
    opacity: 0.80;
    border-radius:5px;
}

#footer p{
    width: 40%;
    float: left;
}

#copyright {
    margin: 10px 0 0 10px;
}
